
	body{
	padding: 0px;
	width: 100%;
	height: 100%;
	margin: auto;
	font-family: Arial;
}

#header{
	width: 1351px;
	height: 210px;
	background: #202020;
	text-align: center;
	border: 0px solid black;
}


#wrapper{
	height: auto;
	width: 1351px;
	boredr-top: 20px;

	
}

#wrapperr #main{
	height: 600px;
	border-top: 20px;
	margin-top:10px;
	width: 1351px;
	margin-left: 600px;
	padding-right: 20px;
	padding-bottom: 0px;
	margin: 0px auto;
	margin-bottom:20px;
}
#wrapper #main  img{
	width: 1345px;
	margin-top: 3px;
	height:600px;	
	border: 1px solid black;
	overflow: hidden;
	display: inline;
}
#footer{
	height: 20px;
	border-top: 1px solid black;
	text-align: center;
	font-size: 15px;
	width: 1359px;
	margin-right:150px;
	margin-top: 20px;
}

#header #nav{
	margin-top: 68px;
	margin-right: 600px;
	width: 1345px;
	overflow: hidden;
}

#header #nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 3px 8px 3px 8px;
	background-color: black;
	font-size: 21px;
	font-family: Lucida Sans Unicode;
}
#header #nav a{
	text-decoration: none;
	color: black;
}
#header #nav ul li  a:link{
	color: white;
}
#header #nav ul li  a:visited{
	color: white;
}
#header #nav ul li  a:hover{
	color: purple;
}
#header #nav ul li  a:active{
	color: black;
}
#header #logo img{
	margin-top: 10px;
	margin-left: 40px;
	margin-bottom: -100px;
}

#wrapper #table1{
	width: 800px;
	height: 250px;
	table-layout: fixed;
	margin-left: 200px;
	text-align: center;
}

 #wrapper #table1 td{
	background: #D8D8D8;
	font-size: 14px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #000;
}

 #wrapper #table1 td  h3{
	text-align: center;
	font-family: pristina;
	font-size: 25px;
}
 
#wrapper #main1 img{
	margin-top: 3px;
}






